#cloths{
    background-image: url("images.jpg");
    height:40%;
      width:100%;
   
    background-position:center;	
}
#sh{
   background-image: url("tshirt.jpg");
   height:80%;
   width:40%;
   display:inline-block;
   background-size:cover;
   
}
#hd{
 background-image: url("hoodie.jpg");
     height: 80%;
     width:40%;
     display:inline-block;
 background-size:cover;
     
     
}
#clr{
    background-color: gray;
}
#en{
    background-color: blue;
}
#sho{
    background-color: blue;
}
#con{
   background-color: blue;
}